$main-color: #f5f5f5;
$second-main-color: #ffffff;
$disabled-border-color: #999999;

$nav-color: #30475e;

$font-color: #000000;
$second-font-color: #ffffff;
$disabled-font-color: #666666;

$button-color: #0056d2;
$disabled-button-color: #cccccc;

$error-message-color: #ff0000;

$correct-answer-border-color: #008000;
$correct-asnwer-background-color: #00800017;

$incorrect-answer-border-color: #ff0000;
$incorrect-asnwer-background-color: #ff00001a;
