@import '../../global/scss/global.scss';

.wrapper {
    color: $font-color;
    padding: 1rem;
    border: 4px solid darken($second-main-color, 10%);
    border-radius: 10px;
    background-color: $second-main-color;
    margin: 7rem auto 1rem;
    width: 40%;

    button {
        color: $font-color;
        text-align: center;
        margin: 2rem auto 1rem;
        font-size: 1.2rem;
        height: 3.5rem;
        width: 50%;
        line-height: 2.5rem;
        border: 2px solid darken($second-main-color, 60%);
        border-radius: 10px;
        background: $main-color;
        cursor: pointer;

        &:hover {
            border: 2px solid darken($second-main-color, 70%);
            background: darken($main-color, 8%);
            transition: all 0.3s ease;
        }

        &:disabled {
            background: darken($main-color, 25%);
            border: 2px solid darken($second-main-color, 80%);
        }
    }
}

@media (max-width: 75rem) {
    .Wrapper {
        width: 60%;
    }
}

@media (max-width: 62.5rem) {
    .Wrapper {
        width: 70%;
    }
}

@media (max-width: 50rem) {
    .Wrapper {
        width: 80%;
    }
}

@media (max-width: 43.75rem) {
    .Wrapper {
        width: 100%;
    }
}
